<!DOCTYPE html>
<html>
  <head>
    <title>Solver</title>
    <!-- Link to the CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <div class="container">
      <h1>NYT Spelling Bee Solver</h1>
      <h3>Note: It does take a little bit of time to solve! (Brute Force)</h3>
      <form method="POST" action="/send">
        <div class="form-group">
          <input type="text" required minlength="1" maxlength="1" name="middle" placeholder="Middle Letter">
          <input type="text" required minlength="6" maxlength="11" name="outside" placeholder="Other Letters">
        </div>
        <input class="btn" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>